.va-data-table[data-v-b93c3aed] tbody .va-data-table__table-tr{border-bottom:1px solid var(--va-background-border)}.va-select-content__autocomplete[data-v-5db6e549]{flex:1}.va-input-wrapper__text[data-v-5db6e549]{gap:.2rem}
